python-lzo==1.12 # see https://packages.ubuntu.com/jammy/python3-lzo
posix_ipc==0.9.8 # see https://packages.ubuntu.com/jammy/python3-posix-ipc

# test, CI, package, formatting, linting, ...
black
mypy>=0.931
pylint
pytest
pytest-asyncio
pytest-cov
pytest-timeout
pytest-mock
stdeb>=0.10.0