python-lzo==1.12 # see https://packages.ubuntu.com/jammy/python3-lzo
sysv_ipc==1.0.0 # see https://packages.ubuntu.com/jammy/python3-sysv-ipc

# test, CI, package, formatting, linting, ...
black==22.6.0
isort[colors]
mypy==0.990
pylint==2.14.4
PySide2~=5.15
pytest
pytest-asyncio
pytest-cov
pytest-timeout
pytest-mock

watchdog~=2.3.0
setuptools
