python-lzo>=1.12 # TODO(o.layer): see https://packages.ubuntu.com/focal/python3-lzo, upgrade after newer version is in Ubuntu repository

black
mypy>=0.931
pylint
pytest
pytest-asyncio
pytest-cov
pytest-timeout
pytest-mock
stdeb>=0.10.0